body {
    font-family: 'lato-light';
    color: $greyTwo;
}
// SVG color style
.cls-1{
    fill:none;
    stroke:$navy;
    stroke-miterlimit:10;
    stroke-width:2.78px;
    &.strokeWhite {
        stroke:#fff;
    }
}
// Background Colors
.paleBlueBG {
    background: $paleBlue;
}
.navyBG {
    background: $navy;
    color: $white;
}
.whiteBG {
    background: $white;
}

// Video Styling
.videoContainer video {
    width: 100%;
    object-fit: cover;
}
.hide-mobile {
    @include phone {
        display: none;
    }
}
.decktop-hide {
    display: none;
    @include phone {
        display: block;
    }
}
.internalLink {
    display: block;
    svg {
        display: block;
    }
    @include phone {
        width: 50px;
        margin: 0 auto;
        padding: 5px 0;
        background: $transWhite;
        svg {
            .cls-1 {
                &.strokeWhite {
                    stroke: $navy;
                }
            }
        }
    }
}
// Content Area Styling 
.contentArea {
    position: relative;
    @include phone {
        text-align: center;
    }
    &.paleBlueBG {
        background: $paleBlue;
    }
    &.whiteBG {
        background: $white;
    }
    &.navyBG {
        background: $navy;
        
    }
    &.paddingStandard {
        padding: 100px 0 150px 0;
        @include phone {
            padding: 50px 0;
        }
    }
    &.paddingAlt {
        padding: 60px 0 80px 0;
    }
    .downIcon {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 40px;
        text-align: center;
        svg {
            width: 36px;
            margin: 0 auto;
        }
    }
    .textBox {
        padding: 55px;
        &.whiteBG {
            background: $white;
            h5 {
                color: $greyFour;
            }
        }
    }
    .textAlignCenter {
        text-align: center;
    }
    // Content Banner Styling
    &.contentAreaBanner {
        padding: 50px 0;
        h5 {
            color: $greyThree;
            span {
                color: $navy;
                font-family: 'fsjoey-medium-webfont';
            }
        }
        &.navyBG {
            h5 {
                color: $white;
                span {
                    color: $white;
                }
            }
        }
        &.bgImage {
            @include background-image('bgImage7.jpg', center center);
        }
        &.downloadArea {
            h5 {
                margin-top: 25px;
                font-size: 1.500em;
            }
            .downloadLink {
                border: 1.5px solid $white;
                @include border-radius(10px);
                display: block;
                position: relative;
                padding: 25px 45px 25px 80px;
                font-size: 1.1em;
                line-height: 1.2em;
                color: $white;
                text-decoration: none;
                @include rolloverAnimations(250ms);
                @include tablet {
                    padding-left: 60px;
                }
                .icon {
                    position: absolute;
                    left: 25px;
                    top: 25px;
                    width: 30px;
                    padding: 5.3px 0;
                    @include box-sizing();
                    text-align: center;
                    svg {
                        width: 15px;
                        height: 19px;
                        display: block;
                        margin: 0 auto;
                        position: relative;
                        z-index: 1;
                        .arrow {
                            fill:none;
                            stroke:#1a4177;
                            stroke-miterlimit:10;
                            @include rolloverAnimations(250ms);
                        }
                    }
                    &:before {
                        content: '';
                        display: block;
                        width: 30px;
                        height: 30px;
                        position: absolute;
                        left: 0px;
                        top: 0px;
                        background: $white;
                        @include border-radius(30px);
                        z-index: 0;
                        @include scale(1);
                        @include rolloverAnimations(250ms);
                    }
                    @include tablet {
                        left: 15px;
                    }
                }
                &:hover {
                    background: $white;
                    color: $navy;
                    .icon {
                        svg {
                           .arrow {
                               stroke: $white;
                            }
                        }
                        &:before {
                           background: $navy;
                        }
                    }
                }
            }
            @include phone {
                padding: 40px 0;
                h5 {
                    margin: 0 0 20px 0!important;
                }
                h4 {
                    margin: 0 0 30px 0;
                }
            }
        }
    }
    // Full Width Blocks Styling
    &.fullWidthBlocks {
        .fullWidthBlocksRow {
            display: -ms-flexbox;
            display: flex;
            @include phone {
                display: block;
            }
            .twoThirds {
                width: 58%;
                @include tablet {
                    width: 50%;
                }
                @include phone {
                   width: 100%;
                   float: none;
                }
            }
             .bgImage {
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                position: relative;
                 .bgImageContents {
                     padding: 56px 36px;
                     width: 60%;
                     max-width: 515px;
                     @include box-sizing();
                     margin: 0 auto;
                     position: absolute;
                     left: 20%;
                     bottom: 70px;
                     @include tablet {
                        width: 90%;
                         left: 5%;
                    }
                     h3 {
                         margin: 0;
                         color: $greyTwo;
                         font-size: 2em;
                         span {
                             color: $navy;
                             font-family: 'fsjoey-medium-webfont';
                         }
                     }
                     @include phone {
                       position: inherit;
                    }
                 }
                 .parallaxElement {
                     position: absolute;
                     &.balloonImage {
                         width: 283px;
                         right: 0%;
                         top: 80px;
                     }
                     &.cloudImage {
                         width: 500px;
                         right: 10%;
                         top: 180px;
                     }
                 }
            }
            .oneThird {
                width: 42%;
                @include tablet {
                    width: 50%;
                }
                @include phone {
                   width: 100%;
                   float: none;
                }
                .contentBlockContents {
                    width: 100%;
                    max-width: 500px;
                    padding: 90px 20px 80px 60px;
                    @include box-sizing();
                    float: left;
                    p {
                        line-height: 1.6em;
                    }
                    @include tablet {
                        max-width: 460px;
                    }
                }
            }
            &.fullWidthBlocksRowAlt {
                -webkit-flex-direction: row-reverse;
                flex-direction: row-reverse; 
                @include phone {
                    display: block;
                }
                .oneThird {
                    .contentBlockContents {
                        padding: 90px 60px 80px 20px;
                        float: right
                    }
                }
            }
        }
        
    }
    .boxRight {
        position: relative;
        .bgImageContentsBlock {
             padding: 56px 36px;
             width: 100%;
             max-width: 515px;
             @include box-sizing();
             margin: 0 auto;
             h3 {
                 margin: 0;
                 color: $greyTwo;
                 font-size: 2em;
                 span {
                     color: $navy;
                     font-family: 'fsjoey-medium-webfont';
                 }
             }
        }
    }
    .bgImageContents {
        padding: 30px 25px;
        width: 95%;
        margin: 0 auto;
        @include box-sizing();
        h3 {
            color: $white;
            margin: 0;
            span {
                font-family: 'fsjoey-medium-webfont';
            }
        }
        &.paleBlueBG {
            h3 {
                color: $greyTwo;
                span {
                    color: $navy;
                }
            }
        }
    }
    &.contentAreaNext {
        padding: 0 0 15px 0 ;
        .next {
            color: $navy;
            display: block;
            border: 2px solid $navy;
            color: #1a4177;
            background: rgba(255,255,255,0);
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            width: 100%;
            max-width: 336px;
            margin: 0 auto;
            font-size: 1em;
            line-height: 1em;
            padding: 18px 60px;
            @include rolloverAnimations(250ms);
            position: relative;
            letter-spacing: 1px;
            @include border-radius(30px);
            height: auto;
            font-family: 'fsjoey-medium-webfont';
            margin: 0 auto;
            margin-bottom: 20px;
            text-decoration: none;
            .icon {
                position: absolute;
                right: 10%;
                top: 38%;
            }
        }
    }
}

// First Section Specific Styling

#firstSection {
    p {
        font-size: 1.125em;
    }
    .logos {
       .logosBox {
           margin-bottom: 4%;
           &:nth-of-type(4) {
               margin-left: 0;
               @include phone {
                   margin-left: 4%;
               }
           }
           a {
               display:block;
           }
        }
        &.logosAnimation {
            .logosBox {
                .internalLink {
                    position: relative;
                    &:before {
                        position: absolute;
                        content: '';
                        display: block;
                        width: 0%;
                        height: 2px;
                        left: 0;
                        top: 0;
                        background: $navy;
                        //@include rolloverAnimationsDelay(300ms);
                        @include rolloverAnimations(250ms);
                    }
                    &:after {
                        position: absolute;
                        content: '';
                        display: block;
                        width: 2px;
                        height: 0%;
                        right: 0;
                        top: 0;
                        background: $navy;
                        //@include rolloverAnimationsDelay(200ms);
                        @include rolloverAnimations(250ms);
                    }
                    span {
                       &:before {
                            position: absolute;
                            content: '';
                            display: block;
                            width: 0%;
                            height: 2px;
                            right: 0;
                            bottom: 0;
                            background: $navy;
                            //@include rolloverAnimationsDelay(100ms);
                            @include rolloverAnimations(250ms);
                        }
                        &:after {
                            position: absolute;
                            content: '';
                            display: block;
                            width: 2px;
                            height: 0%;
                            left: 0;
                            bottom: 0;
                            background: $navy;
                            //@include rolloverAnimationsDelay(0);
                            @include rolloverAnimations(250ms);
                        }
                    }
                    &:hover {
                        &:before {
                            
                            width: 100%;
                        }
                        &:after {
                            //@include rolloverAnimationsDelay(100ms);
                            height: 100%;
                        }
                        span {
                           &:before {
                               //@include rolloverAnimationsDelay(200ms);
                                width: 100%;
                            }
                            &:after {
                                //@include rolloverAnimationsDelay(300ms);
                                height: 100%;
                            } 
                        }
                    }
                }
            }
        }
    }
    @include phone {
        .downIcon {
            display: none;
        }
        .logos {
            .logosBox {
                width: 48%;
                margin-left: 4%;
                margin-bottom: 4%;
                &:nth-of-type(odd) {
                    margin-left: 0;
                }
            }
        }
    }
    @include phone {
        padding: 0;
        .containerMobilePadding {
            padding: 0;
            .mobileWhite {
                background: $white;
                padding: 30px 15px;
                h5 {
                    color: $navy;
                }
            }
            .mobilePaleBlue {
                background: $paleBlue;
                padding: 30px 15px;
            }
        }
    }
    &.thankyouMessage {
        text-align: center;
        .connectWithUs {
            margin-top: 5px;
            ul {
                list-style: none;
                li {
                    display: inline-block;
                    margin: 0 15px 0 0;
                    font-size: 1.500em;
                    line-height: 1em;
                    color: $navy;
                    vertical-align: middle;
                    a {
                        text-decoration: none;
                        font-size: 1.2em;
                        .icon {
                            color: $navy;
                        }
                    }
                    &.fullWidth {
                        width: 100%;
                        margin: 0 0 10px 0;
                    }
                }
            }
        }
        .button {
            display: block;
            border: 2px solid $navy;
            color: $navy;
            background: rgba(255,255,255,0);
            @include box-sizing();
            width: 100%;
            max-width: 370px;
            margin: 0 auto;
            font-size: 1em;
            line-height: 1em;
            padding: 18px 60px;
            @include rolloverAnimations(300ms);
            position: relative;
            letter-spacing: 1px;
            @include border-radius(30px);
            height: auto;
            font-family: 'fsjoey-medium-webfont';
            &:hover {
                background: $navy;
                color: $white
            }
        }
        @include phone {
            padding: 50px 0;
            .button {
                font-size: 90%;
                display: block;
            }
        }
    }
}

// Second Section Specific Styling

#secondSection {
    @include background-image('bgImage2.jpg', 0 0);
    background-attachment: fixed;
    .rowFlex {
        display: -ms-flexbox;
        display: flex;
        .boxRightTable {
            display: table;
            width: 100%;
            height: 100%;
            .boxRightTableCell {
                display: table-cell;
                width: 100%;
                height: 100%;
                vertical-align: bottom;
            }
            .bgImageContentsBlock {
                max-width: 475px;
                float: left;
            }
        }
    }
    @include tablet {
        background-attachment: scroll;
        background-position: center center;
    }
}

// Third Section Specific Styling

#thirdSection {
    .fullWidthBlocksRowAlt {
        .bgImage {
            background-image: url(../img/bgImage3.jpg);
            background-position: center center;
//            background-size: 100%;
        }
    }
}

// Fourth Section Specific Styling

#fourthSection {
    .fullWidthBlocksRow {
        .bgImage {
            background-image: url(../img/bgImage4.jpg);
            background-position: left bottom;
//            background-size: 100%;
        }
    }
}

// Fifth Section Specific Styling

#fifthSection {
    @include background-image('bgImage5.jpg', 0 0);
    background-attachment: fixed;
    &.paddingAlt {
        padding: 60px 0 30px 0;
    }
    .rowFlex {
        display: -ms-flexbox;
        display: flex;
        .boxRightTable {
            display: table;
            width: 100%;
            height: 100%;
            .boxRightTableCell {
                display: table-cell;
                width: 100%;
                height: 100%;
                vertical-align: bottom;
            }
        }
    }
    .boxRight {
        .bgImageContentsBlock {
            max-width: 475px;
            float: right;
        }
    }
    @include tablet {
        background-attachment: scroll;
        background-position: center center;
    }
}

// Sixth Section Specific Styling

#sixthSection {
    .imageBlock {
        position: relative;
        overflow: hidden;
        .imageBlockBalloon {
            position: absolute;
            left: 80px;
            top: -35px;
            width: 75px;
        }
    }
    img {
        width: 95%;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    p {
        line-height: 1.6em;
    }
    
}

// Seveth Section Specific Styling

#seventhSection {
    .videoContainer {
        width: 95%;
        margin: 0 auto;
        margin-bottom: 20px;
    }
}

// Seveth Section Specific Styling

#eightSection {
    @include background-image('bgImage8.jpg', center right);
    overflow: hidden;
    .fullWidthBlocksRow {
        &.fullWidthBlocksRowAbsolute {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 0;
            @include phone {
                position: relative;
                height: 260px;
            }
        }
        .paleBlueBG {
            position: relative;
            &:after {
                content: '';
                display: block;
                width: 150px;
                height: 100%;
                background: url(../img/paleBlueCurve.png) no-repeat right top;
                background-size: cover;
                position: absolute;
                right: -148px;
                top: 0;
                z-index: 4;
                @include tablet {
//                    display: none;
                }
            }
        }
        .rowContent {
            padding: 60px 0 35px 0;
            @include box-sizing();
            position: relative;
            z-index: 1;
            width: 100%;
            max-width: 100%;
            h5 {
                color: $greyFive;
            }
            .connectWithUs {
                margin-top: 100px;
                ul {
                    list-style: none;
                    li {
                        display: inline-block;
                        margin: 0 15px 0 0;
                        font-size: 1.500em;
                        line-height: 1em;
                        color: $navy;
                        vertical-align: middle;
                        a {
                            text-decoration: none;
                            color: $navy;
                            @include rolloverAnimations(250ms);
                            font-size: 1.2em;
                            .fab {
                                color: $navy;
                            }
                            &:hover {
                                color: $greyFive;
                            }
                        }
                    }
                }
            }
            @include phone {
                padding: 30px 15px 60px 15px;
            }
        }
        .parallaxElementParent {
            position: relative;
            .parallaxElement {
                position: absolute;
                &.balloonImage {
                    width: 210px;
                    left: 30%;
                    top: -10%;
                    z-index: 2;
                }
                &.cloudImage {
                    width: 300px;
                    left: 10%;
                    top: 50%;
                    z-index: 3;
                }
                &.cloudImage2 {
                    width: 300px;
                    right: 15%;
                    top: 20%;
                    z-index: 1;
                }
            }
            @include phone {
                height: 260px;
                background-image: url(../img/mobileSkyFooter.png);
                background-repeat: no-repeat;
                background-position: 0 0;
                background-size: cover;
                .balloonImage {
                    width: 190px !important;
                    top: -10% !important;
                    left: 45% !important;
                }
                .cloudImage {
                    width: 250px !important;
                    left: 25% !important;
                    top: 20% !important;
                    z-index: 1 !important;
                }
                .cloudImage2 {
                    display: none;
                }
            }
        }
    }
    @include phone {
        background: $paleBlue;
    }
    .container {
        @include phone {
            padding: 0;
        }
    }
}

// MobilePage Styling

.mobilePage {
    .heroSection {
        &.heroSectionInternal {
            padding: 350px 0 60px 0;
            .heroSectionContentBox {
                padding: 14px 30px 18px 30px;
                background: $paleBlue;
                width: 80%;
                margin: 0 auto;
                text-align: center;
            }
            h1 {
                margin: 0;
                font-size: 2.625em;
                line-height: 1em;
            }
            .downIcon {
                bottom: 10px;
            }
        }
    }
    #eightSection {
        .fullWidthBlocksRow {
            .rowContent {
                padding-bottom: 60px;
            }
        }
        .parallaxElementParent {
            height: 260px;
            @include background-image('mobileSkyFooter.png', 0 0);
            .balloonImage {
                width: 190px!important;
                top: -10%!important;
                left: 45%!important;
            }
            .cloudImage {
                width: 250px!important;
                left: 25%!important;
                top: 20%!important;
                z-index: 1!important;
            }
            .cloudImage2 {
                display: none!important;
            }
        }
    }
    .bannerBG {
        width: 100%;
        height: 90px;
        position: relative;
        @include background-image('cloudySky.png', 0 0);
        &.bannerBGDufry {
            @include background-image('dufryBannerBG.png', 0 0);
        }
        &.bannerBGMileslife {
            @include background-image('mileslifeBannerBG.png', 0 0);
        }
        &.bannerBGInvestmentCompanyPartnerlife {
            @include background-image('investmentCompanyBG.png', 0 0);
        }
        &.bannerBGtheEconomist {
            @include background-image('economistBannerBG.png', 0 0);
        }
        .balloonImage {
            position: absolute;
            left: 15px;
            top: -10px;
            width: 90px;
            z-index: 1;
        }
    }
    .contentArea {
        .connectWithUs {
                margin-top: 0;
                padding: 30px 0;
                ul {
                    list-style: none;
                    margin: 0;
                    li {
                        display: inline-block;
                        margin: 0 5px;
                        font-size: 1em;
                        line-height: 1em;
                        color: $navy;
                        vertical-align: middle;
                        &:first-of-type {
                            width: 100%;
                            margin: 0 0 5px 0;
                        }
                        a {
                            text-decoration: none;
                            color: $navy;
                            .fab {
                                color: $navy;
                            }
                        }
                        @include phone {
                            font-size: 1.4em;
                        }
                    }
                }
            }
    }
    
}
#connectWithUs {
    .connectWithUs {
        margin-top: 0;
        padding: 30px 0;
        ul {
            list-style: none;
            margin: 0;
            li {
                display: inline-block;
                margin: 0 5px;
                font-size: 1em;
                line-height: 1em;
                color: $navy;
                vertical-align: middle;
                &:first-of-type {
                    width: 100%;
                    margin: 0 0 5px 0;
                }
                a {
                    text-decoration: none;
                    color: $navy;
                    .fab {
                        color: $navy;
                    }
                }
                @include phone {
                    font-size: 1.4em;
                }
            }
        }
    }
}


// Booking.com Mobile Page 

#bookingconHero {
    @include background-image('bgImage2.jpg', 0 0);
}

// Dufry Mobile Page 

#DufryHero {
    @include background-image('bgImage3.jpg', 0 0);
    .heroSectionContentBox {
        width: 50%;
    }
}

// MilesLife Mobile Page 

#MileslifeHero {
    @include background-image('mileslifeHeroNew.png', 0 0);
    .heroSectionContentBox {
        width: 50%;
    }
}

// Investment Mobile Page 

#InvestmentCompanyPartnerHero {
    @include background-image('bgImage5.jpg', right top);
}

// The Economist Mobile Page 

#theEconomistHero {
     @include background-image('economistHero.png', top center);
}

// Bicester Village Mobile Page 

#bicesterVillageHero {
     @include background-image('bicesterVillageHero.png', top center);
}











