.footer {
    background: $greyOne;
    padding: 30px 0;
    text-align: center;
    .footer-logo {
        width: 60px;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    #footer-nav {
        padding: 30px;
        background-color: #333333;
        border-top: 2px solid #292929;
        border-bottom: 2px solid #292929;
        ul {
            margin: 0;
            padding: 0;
            li {
                display: inline;
                margin: 0 10px;
                @include phone {
                    margin: 0 5px;
                    display: block;
                    margin: 0 0 10px 0;
                    &:last-of-type {
                        margin-bottom: 0;
                    }
//                    a {
//                        font-size: 0.8em;
//                    }
                }
                a {
                    color: $white;
                    font-size: 0.875em;
                    text-decoration: none;
                    @include rolloverAnimations(250ms);
                    &:hover {
                        text-decoration: underline;
                    }
                    @include phone {
                        font-size: 0.9em;
                    }
                }
            }
        }
        @include phone {
            padding: 15px;
        }
    }
    .footer-copy {
        color: #999999;
        margin: 30px 0 0 0;
        @include phone {
            font-size: 0.9em;
            margin-top: 10px;
        }
    }
}