body {
    overflow-x: hidden;
}
#cookie-law {
    padding: 20px 100px 20px 20px;
    position: relative;
    background: $white;
    z-index: 11;
    @include box-sizing();
    p {
        margin: 0;
        color: $greyThree;
        a {
            color: $navy;
            font-family: 'fsjoey-medium-webfont';
            text-decoration: none;
            &.close-cookie-banner {
                position: absolute;
                right: 20px;
                top: 20px;
            }
        }
    }
    @include phone {
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
    }
}
.heroSection {
    @include background-image('heroBGImageNew.jpg', 0 0);
    background-attachment: fixed;
    padding: 0 0 170px 0;
    position: relative;
    @include tablet {
        background-attachment: scroll;
    }
    @include phone {
        padding-top: 95px;
        padding-bottom: 100px;
        background-attachment: scroll;
    }
    .header {
        padding: 40px 0 0 0;
        .logo {
            width: 100%;
            max-width: 120px;
        }
         position: relative;
        // Mobile nav icon styling
        #nav-icon {
          z-index: 999999;
          display: none;
          width: 24px;
          height: 20px;
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
          -webkit-transition: .5s ease-in-out;
          -moz-transition: .5s ease-in-out;
          -o-transition: .5s ease-in-out;
          transition: .5s ease-in-out;
          cursor: pointer;
          position: absolute; 
          right: 10px;
          top: 6px;
            span {
               display: block;
               position: absolute;
               height: 4px;
               width: 100%;
               background: $navy;
               opacity: 1;
               left: 0;
               -webkit-transform: rotate(0deg);
               -moz-transform: rotate(0deg);
               -o-transform: rotate(0deg);
               transform: rotate(0deg);
               -webkit-transition: .25s ease-in-out;
               -moz-transition: .25s ease-in-out;
               -o-transition: .25s ease-in-out;
               transition: .25s ease-in-out; 
                &:nth-child(1) {
                    top: 0px;
                }
                &:nth-child(2) {
                    top: 9px;
                }
                &:nth-child(3) {
                    top: 9px;
                }
                &:nth-child(4) {
                    top: 18px;
                }
            }
            &.open {
//                z-index: 15;
                span {
                    &:nth-child(1) {
                        top: 18px;
                        width: 0%;
                        left: 50%;
                    }
                    &:nth-child(2) {
                       -webkit-transform: rotate(45deg);
                          -moz-transform: rotate(45deg);
                            -o-transform: rotate(45deg);
                               transform: rotate(45deg); 
                    }
                    &:nth-child(3) {
                        -webkit-transform: rotate(-45deg);
                           -moz-transform: rotate(-45deg);
                             -o-transform: rotate(-45deg);
                                transform: rotate(-45deg);
                    }
                    &:nth-child(4) {
                        top: 18px;
                        width: 0%;
                        left: 50%;
                    }
                }
            }
            @include phone {
                display: block;
            }
        }
        @include phone {
            position: fixed;
            left: 0;
            top: 0;
            background: $white;
            width: 100%;
            padding: 10px 5px;
            @include box-sizing();
            z-index: 10;
            .logo {
                width: 35px;
            }
        }
        .homeIcon {
            margin-top: 3px;
            display: none;
            a {
                color: $navy;
                display: inline-block;
                position: relative;
                text-decoration: none;
                font-size: 1.5em;
                .fas {
                    font-size: 1.4em;
                    color: $navy;
                }
            }
        }
        &.open {
            background: $paleBlue;
            .logo {
                display: none;
            }
            .homeIcon { 
                display: block;
            }
        }
    }
    h1 {
        margin: 260px 0 0 0;
    }
    .parallaxElementParent {
        position: relative;
        @include phone {
            position: inherit;
        }
        .parallaxItem {
            position: absolute;
            
        }
        .balloonImage {
            position: absolute;
            width: 100%;
            max-width: 275px;
            right: 16%;
            top: 0;
            @include phone {
                width: 130px;
                z-index: 2;
            }
        }
        .cloudImage {
            position: absolute;
            left: 10%;
            top: 200px;
            width: 100%;
            @include tablet {
                width: 100%;
                left: 0%;
            }
            @include phone {
                width: 300px;
                left: 20%;
                top: 120px;
                z-index: 1;
            }
        }
    }
    .downIcon {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 40px;
        text-align: center;
        svg {
            width: 36px;
            margin: 0 auto;
        }
    }
    .slideDownNav {
        padding: 85px 30px 30px 30px;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        @include box-sizing();
        z-index: 9;
        text-align: center;
        display: none;
        h3 {
            font-size: 1.500em;
            line-height: 1em;
            margin: 0 0 20px 0;
        }
        .logos {
            .logosBox {
                width: 48%;
                margin-left: 4%;
                margin-bottom: 4%;
                &:nth-of-type(odd) {
                    margin-left: 0;
                }
            }
        }
    }
    &.heroSectionHome {
        .internalLink {
            @include phone {
                padding: 0;
                background: none;
                svg {
                    .cls-1 {
                        &.strokeWhite {
                            stroke: $white;
                        }
                    }
                }
            }
        }
    }
}



