@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin box-shadow() {
	-webkit-box-shadow: 0 7px 5px 0 rgba(0,0,0,0.35);
			box-shadow: 0 7px 5px 0 rgba(0,0,0,0.35);
}

@mixin rolloverAnimations($time){
	-webkit-transition: all $time ease-in-out;
	   -moz-transition: all $time ease-in-out;
	    -ms-transition: all $time ease-in-out;
	     -o-transition: all $time ease-in-out;
			transition: all $time ease-in-out;
}

@mixin rolloverAnimationsDelay($time){
	-webkit-transition-delay: $time;
	   -moz-transition-delay: $time;
	    -ms-transition-delay: $time;
	     -o-transition-delay: $time;
			transition-delay: $time;
}

@mixin box-sizing() {
	   -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
    
}

// Fonts
@mixin fontFace($family,$src,$weight: normal,$style: normal) {
	
	@font-face {
		font-family: $family;
		src: url('#{$src}/#{$family}.eot'); // IE9 compat
		src: url('#{$src}/#{$family}.eot?#iefix') format('embedded-opentype'), // IE8 and below
		url('#{$src}/#{$family}.woff') format('woff'), // standards
		url('#{$src}/#{$family}.ttf') format('truetype'), // Safari, Android, iOS
		url('#{$src}/#{$family}.svg##{$family}') format('svg'); // legacy iOS

			font-style: $style;
			font-weight: $weight;
		}
	
}

@mixin background-image($img, $background-position) {
    background-image: url('../img/#{$img}');
    background-repeat: no-repeat;
    background-position: $background-position;
    background-size: cover;
} 

@mixin box-shadow() {
    -webkit-box-shadow: 0 0 5px 3px #EEEEEE;
    box-shadow: 0 0 5px 3px #EEEEEE;
}

@mixin scale($scale) {
       -moz-transform: scale($scale);
    -webkit-transform: scale($scale);
         -o-transform: scale($scale);
        -ms-transform: scale($scale);
            transform: scale($scale);
}


// Media query mixins

@mixin extralarge-desktop {
  @media (min-width: #{$extralarge-desktop}) {
    @content;
  }
}

@mixin large-desktop {
  @media (min-width: #{$large-desktop-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) and (max-width: #{$large-desktop-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin tablet-landcape {
  @media (min-width: #{$tablet-width + 1}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}
@mixin tablet-portait {
  @media only screen and (max-width: #{$tablet-width}) {
    @content;
  }
}

@mixin phone {
  @media only screen and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin phone-portrait {
    @media only screen and (max-width: #{$mobile-portait}) {
        @content;
    }
}




@mixin retina {
  @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    @content;
  }
}