h1 {
    font-size: 4.375em;
    line-height: 1em;
    font-family: 'fs_joey-light';
    font-weight: normal;
    margin: 0;
    color: $navy;
    @include phone {
        font-size: 3.5em;
    }
}
h2 {
    font-size: 3.375em;
    line-height: 1em;
    margin: 0 0 25px 0;
    font-family: 'fs_joey-light';
    font-weight: normal;
    color: $navy;
    sup {
        font-size: 50%;
        top: -0.9em;
    }
}
h3 {
    font-size: 2.125em;
    line-height: 1em;
    font-family: 'fs_joey-light';
    font-weight: normal;
    margin: 0 0 35px 0;
    color: $navy;
}
h4 {
    font-size: 1.875em;
    line-height: 1em;
    font-family: 'fsjoey-medium-webfont';
    margin: 0;
    font-weight: normal;
}
h5 {
    font-size: 1.600em;
    line-height: 1.4em;
    font-weight: normal;
    margin: 0 0 25px 0;
    color: $greyOne;
    a {
        text-decoration: none;
        color: $navy;
        font-family: 'fsjoey-medium-webfont';
    }
    .contentAreaBanner & {
        font-size: 2.2em;
    }
}
h6 {
    font-family: 'fsjoey-medium-webfont';
    font-size: 1.500em;
    line-height: 1em;
    margin: 0 0 10px 0;
    color: $navy;
    font-weight: normal;
    @include phone {
        font-size: 1.7em;
    }
}
p {
    font-size: 1em;
    line-height: 1.6em;
    margin: 0 0 30px 0;
    .textBox & {
        line-height: 1.6em;
    }
}
sup {
    font-size: 60%;
}
